:root {
  --tp-primary: #0d6efd;
  --tp-secondary: #f8f9fa;
  --tp-dark: #0d6efd;
  --tp-light: #ffffff;
  --tp-accent: #dc3545;
  --tp-border-color: #dee2e6;
  --tp-seat-taken: #6c757d;
  --tp-text-color: #212529;
  --tp-card-bg: var(--tp-light);

  --bs-body-bg: var(--tp-secondary);
  --bs-body-color: var(--tp-text-color);
  --bs-heading-color: var(--tp-text-color);
  --bs-link-color: var(--tp-primary);
  --bs-link-hover-color: var(--tp-accent);
}