:root {
  --tp-primary: #0d6efd;
  --tp-secondary: #212529;
  --tp-dark: #0d6efd;
  --tp-light: #f8f9fa;
  --tp-accent: #dc3545;
  --tp-border-color: #444444;
  --tp-seat-taken: #495057;
  --tp-text-color: #f8f9fa;
  
  --tp-card-bg: #343a40;

  --bs-body-bg: var(--tp-secondary);
  --bs-body-color: var(--tp-text-color);
  --bs-heading-color: var(--tp-text-color);
  --bs-link-color: var(--tp-light);
  --bs-link-hover-color: var(--tp-accent);
}

body .text-muted {
  color: var(--tp-light) !important;
}

body .form-control,
body .form-select {
  background-color: var(--tp-card-bg);
  color: var(--tp-text-color);
  border-color: var(--tp-border-color);
}
body .form-control::placeholder {
  color: var(--tp-light);
}