:root {
    --bg-color: #ffffff;
    --text-color: #212529;
    --card-bg: #ffffff;
    --border-color: #dee2e6;

    --muted-color: #6c757d;

    --input-bg: #ffffff;
    --input-text: #212529;
    --placeholder-color: #6c757d;

    --navbar-bg: #011d38;
    --navbar-text: #ffffff;
    --footer-bg:#f0f0f0;
    --btn-primary: #0d6efd;
    --btn-success: #5cb85c;
    --btn-warning: rgb(239, 124, 2);
    --table-color: #ffffff;
    --card-img-color: #f0f0f0;
}

/* dark theme */
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #f1f1f1;

    --border-color: #333;

    --muted-color: #aaaaaa;

    --input-bg: #1e1e1e;
    --input-text: #ffffff;
    --placeholder-color: #aaaaaa;

    --card-bg: #1e1e1e;
    --navbar-bg: #000000;
    --navbar-text: #ffffff;
    --footer-bg:#000000;
    --btn-primary: #010228;
    --btn-success: #203d24;
    --btn-warning: rgb(235, 207, 134);
    --table-color: #aaaaaa;
    --card-img-color: #090909;
}