.code-inline-block {
    font-family: Consolas, "Courier New", monospace;
    font-size: 13px;
    color: #f9f9f9;
    background-color: #2a2323;
    padding: 10px;
    border-radius: 4px;
}

.sidebar-menu-scroll-area {
    height: 100vh;
}

.filter-chip-clickable {
    cursor: pointer;
}

.filter-chip-remove {
    cursor: pointer;
}

.auth-card {
    width: 100%;
}

.auth-card-login {
    max-width: 400px;
}

.auth-card-register {
    max-width: 500px;
}

.subscriptions-search-group {
    max-width: 600px;
}